{% extends "base.html" %}

{% block title %}Order Summary{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ordersummary.css') }}">
{% endblock %}

{% block content %}
<header class="header">
    <h1>Order Summary</h1>
    <p>Please provide your valuable feedback</p>
</header>

<main>
    <div id="orderinfobox">
        <section>
            <h2>Your Name: {{OrderDetails.CustomerName}}</h2>
            <label for="name"><strong>Your Order: </strong>{{OrderDetails.Order}}</label><br>
            <label for="orderquantity"><strong>Order Quantity: </strong>{{OrderDetails.OrderQuantity}}</label><br>
            <label for="mobilenumber"><strong>Mobile Number: </strong>{{OrderDetails.MobileNumber}}</label>
        </section>
        <div>
            <h1>Token Number: {{OrderDetails.OrderId}}</h1>
            <h2>Order Time: {{OrderDetails.OrderTime}}</h2>
        </div>
    </div>
    <hr style="height: 2px; background-color: black; width: 70%; margin: 10px auto;">
    <div style="display: flex; justify-content: center;">
        <h1 style="font-size: 4vh"><strong>Order Will Be Ready IN: <strong style="color: red;">15</strong>
                Minutes</strong></h1>
    </div>
    <div style="display: flex; justify-content: center;">
        <h1 style="font-size: 3vh"><strong>Collecting Time: <strong
                    style="color: red;">{{OrderDetails.CollectingTime}}</strong></strong></h1>
    </div>
    <hr style="height: 2px; background-color: black; width: 70%; margin: 10px auto;">
    <div style="display: flex; justify-content: center;">
        <h1 style="font-size: 3.5vh"><strong style="color: red;">Live </strong>Kitchen Video</h1>
    </div>
    <div id="canteenkitchen">
        <img src="{{ url_for('static',filename='images/canteen-kitchen-1.jpg') }}" alt="Error Finding Images" width="500">
        <img src="{{ url_for('static',filename='images/canteen-kitchen-2.jpg') }}" alt="Error Finding Images" width="500">
    </div>
</main>
{% endblock %}
